<nav class="header">
  <a href="/" class="header__logo">
    NeverFap <span class="deluxe">Deluxe</span> <i class="em em-rainbow"></i>
  </a>
  <ul>
    <!-- <li id='popular__click'>Popular</li>
    <div id='popular__dropdown'>
      <a href="/introduction">Introduction</a>
      <a href=""></a>
      <a href=""></a>
      <a href=""></a>
    </div> -->
    <li class='highlight__link'><a href="/guide">Articles</a></li>
    <li class='highlight__link'><a href="/about">About</a></li>
    <li class='highlight__link'><a href="/contact">Contact</a></li>
  </ul>
</nav>