<nav class="header">
  <a href="/" class="header__logo__wrapper">
    <h1 class="header__logo">NeverFap <span class="deluxe__font">Deluxe</span> <i class="em em-rainbow"></i></h1>
  </a>
  <ul class="header__links">
    <a class="header__link__wrapper" href="/guide"><li class="header__link">Articles</li></a>
    <a class="header__link__wrapper" href="/about"><li class="header__link">About</li></a>
    <a class="header__link__wrapper" href="/contact"><li class="header__link">Contact</li></a>
  </ul>
</nav>

<!-- <li id='popular__click'>Popular</li>
<div id='popular__dropdown'>
  <a href="/introduction">Introduction</a>
  <a href=""></a>
  <a href=""></a>
  <a href=""></a>
</div> -->
