{{ define "main" }}
  <div class="single__wrapper courses">
    <h1 class="single__title">{{ .Title }} <img src="/images/logo.png" class="logo__square" alt=""/></h1>    
    
    <div class="single__content">
      {{ .Content }}
    </div>
  </div>
  
  {{ partial "accountInfo.html" . }}

  <div class="single__wrapper">
    <h2>Course Articles</h2>
    <p>These articles have been written to help you better understand what {{ .Title }} means, as well as how mastering this principle will help you overcome your porn addiction.</p>
    {{ partial "courses/courses_articles_by_category.html" (dict "page" . "category_type" .Params.category) }}

    <h2>Course Practices</h2>
    <p>These practices entail the exercises you will perform in order to improve skills related to {{ .Title }}. They should be performed in a specific order.</p>

    {{ partial "courses/courses_practices_by_category.html" (dict "page" . "category_type" .Params.category) }}
  </div>

  {{ partial "accountInfo.html" . }}

  <div class="single__wrapper">
  </div>

  {{ partial "boxInfo.html" . }}
    
  <div class="single__wrapper">
    <h2>Latest Posts</h2>
    {{ partial "latest_posts.html" . }}  
  </div>

  {{ partial "accountInfo.html" . }}

{{ end }}
