.footer {
  // position: fixed;
  // bottom: 0;
  // left: 0;
  // right: 0;
  // background: white;
  // z-index: 1000;

  display: flex;
  margin-top: 60px;

  .footer__designed {
    display: none;
  }

  .footer__links {
    display: flex;
    flex-direction: column;
    .footer__link {
      margin-right: 16px;
      list-style: none;
    }
  }
}

@media screen and (min-width: 420px) {
  .footer {
    .footer__links {
      flex-direction: row;
    }
  }
}

@media screen and (min-width: 768px) {
  .footer {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;    

    .footer__designed {
      // width: 600px;
      display: block;
    }  
  }
}

@media screen and (min-width: 1280px) {
  .footer {
    .footer__designed {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }  
  }

}