.five__principles__guide--mobile {
  display: block;
  margin: 0;
  padding: 0;

  h3 {
    border: 3px solid black;
    padding: 0.6rem;
  }
}

.five__principles__guide {
  display: none;
  padding: 0;

  .five__principles__item {
    width: 90%;
    font-size: 1rem;
    margin-top: 1rem;
    border-bottom: 5px solid rgba(255,46,182,1);
    // background: yellow;
  }  

  .five__principles__item::before {
    width: 100%;
    background-color: cyan;
    height: 8px;
  }
}

@media screen and (min-width: 420px) {
  .five__principles__guide--mobile {
    display: none;
  }
  
  .five__principles__guide {
    display: block;
    .five__principles__item {
      width: initial;
      font-size: 1.1rem;
    }  
  }
}

@media screen and (min-width: 768px) {
  .five__principles__guide {
    .five__principles__item {
      width: initial;
      font-size: 1.6rem;
    }  
  }
}


@media screen and (min-width: 1280px) {
  .five__principles__guide {
  }
}