
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  position: relative;
  top: 3rem;
  margin-bottom: 5rem;

  .header__links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    margin: 0;
    padding: 0;
    height: 100%;

    .header__link__wrapper {
      display: flex;
      align-items: center;  
      justify-content: center;
      height: 3.4rem;
      min-width: 6.5rem;
      // height: 100%;
      list-style: none;

      .header__link {
        color: black;
        font-size: 1rem;
        margin-left: 8px;
        margin-right: 8px;
      }  
    }
    .header__link__wrapper:hover {
      background: rgb(243, 243, 243);
    }

    .header__link__wrapper--guide {
      display: none;
    }

    .header__link__wrapper--guide--good-choice {
      display: block;
      position: absolute;
      // top: -0.6rem;
      bottom: -1.8rem;
      // left: 3.9rem;
      width: 6rem;
      transform: rotate(-20deg);
      font-size: 0.8rem;
      transition: .1s ease-out;
    }

    #link__guide:hover .header__link__wrapper--guide--good-choice {
      font-size: 0.95rem;
    }
  }
}

.header__logo__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  .header__logo {
    margin-left: 16px;
    margin-right: 16px;
    background: black;
    padding: 0.4rem;
    font-size: 1rem;
    text-shadow: -2px 2px 0px black;
    text-decoration: none;
    color: white;  
  }

  .header__logo:hover {
    background: cyan;
  }

  .deluxe__font {
    font-size: 1.15rem;
  }
}

@media screen and (min-width: 420px) {
  .header {
    top: 0;
    margin-bottom: 0;
    // top: 2.43rem;
    // margin-bottom: 2rem;
    .header__links {
      top: 0;

      .header__link__wrapper {
        .header__link {
          padding-left: 8px;
          padding-right: 8px;  
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .header {
    // top: 0;
    .header__links {
      .header__link__wrapper {
        .header__link {
        }
      }
    }
  }
}



// .header__link__wrapper {
//   position: relative;
//   display: inline-block;
//   background-color: yellow;
//   transform: scale(1) rotate(-2deg) skew(-20deg);
//   z-index: -1;
// }
// .header__link__wrapper > .header__link {
//   display: inherit;
//   transform: scale(0.7) rotate(2deg) skew(20deg);
//   color: black;
// }

// // these might possibly need to be the element under .header__link__wrapper
// .header__link__wrapper {
//   color: var(--primary-text);
//   // padding: 0.5rem 0;
//   position: relative;
// }

// .header__link__wrapper:hover,
// .header__link__wrapper:focus {
//   color: var(--primary-text);
// }

// .header__link__wrapper::before {
//   bottom: 0;
//   content: "";
//   display: block;
//   height: 3px;
//   position: absolute;
//   transition: all 0.25s ease-in-out;
//   width: 0%;
// }

// .header__link__wrapper::before {
//   background-color: var(--primary);
// }

// .header__link__wrapper:hover::before,
// .header__link__wrapper:focus::before {
//   opacity: 1;
//   width: 100%;
// }

// .header__link__wrapper.active::before {
//   opacity: 1;
//   width: 100%;
// }
