
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  ul {
    display: flex;
    li {
      margin-right: 16px;
      list-style: none;
    }
  }
}

.header__logo {
  margin-left: 16px;
  background: black;
  padding: 0.4rem;
  font-size: 1rem;
  text-shadow: -2px 2px 0px black;  
  text-decoration: none;
  color: white;

  .deluxe {
    font-size: 1.15rem;
  }
}

@media screen and (min-width: 768px) {
  .header {
    ul {
      li {
      }
    }
  }
}