.list__posts {
  display: flex;
  flex-direction: column;

  .list__post {
    border: 1px solid black;
  }
}


@media screen and (min-width: 768px) {
  .list__posts {
    .list__post {

    }
  }  
}


@media screen and (min-width: 1280px) {
  .list__posts {
    .list__post {

    }
  }  
}