.list__wrapper {
  margin: 1rem;
  .list {
    display: flex;
    flex-direction: column;
  }  
}

@media screen and (min-width: 420px) {
  .list__wrapper {
    .list {

    }  
  }
}

@media screen and (min-width: 768px) {
  .list__wrapper {
    .list {

    }  
  }
}


@media screen and (min-width: 1280px) {
  .list__wrapper {
    .list {
  
    }  
  }
}