* {
  font-family: "Hiragino Kaku Gothic ProN, sans-serif";
}

a {
  text-decoration: none;
}

body {
  border: 5px solid black;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.3rem;
}

h3 {
  font-size: 1.4rem;
}

p, b { 
  font-size: 1.2rem;
}

hr {
  background: black;
}

.deluxe__font {
  font-family: 'Parisienne', cursive; 
}


@media screen and (min-width: 768px) {

}