* {
  font-family: 'Monserrat',  'Noto Sans', sans-serif;
  // font-family: 'Noto Sans', sans-serif;
  // font-family: 'Monserrat', sans-serif;
}

a {
  text-decoration: none;
}

body {
  border: 5px solid black;
  margin: 0.5rem!important;
  background: rgb(253, 253, 253);
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.3rem;
  line-height: 2.9rem;
}

h3 {
  font-size: 1.4rem;
  line-height: 2rem;
}

p, b { 
  font-size: 1.2rem;
  line-height: 1.8rem;
}

hr {
  background: black;
}

.deluxe__font {
  font-family: 'Parisienne', cursive; 
}


// @media screen and (min-width: 768px) {

// }