
.single__wrapper {
  margin: 20px;
}

@media screen and (min-width: 768px) {
  .single__wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 80px;

    .single__title {
      
    }
  }
}


@media screen and (min-width: 1280px) {
  .single__wrapper {
    display: flex;
    flex-direction: column;
    width: 600px;
    margin-left: 160px;

    .single__title {
      
    }
  }
}