
.single__wrapper {
  margin: 10px;

  .single__content {
    // border-bottom: 5px solid black;
    padding-bottom: 5rem;

    p {
      margin-bottom: 1.2rem;
    }

    .link {
      color: rgba(255,46,182,1);
      text-decoration-line: underline;
      text-decoration-color: cyan;
    }

    .link:hover {
      border-bottom: 2px solid cyan;
    }
    
    .five__principles__item {
      margin-top: 1.5rem!important;
    }

    // ul {
    //   margin-bottom: 3rem;
    //   margin-top: 3rem;
    //   li {
    //     font-size: 1.1rem;
    //     margin-bottom: 0.4rem;
    //   }
    // }

    // .button__wrapper {
    //   justify-content: center!important;
    // }
  }

  .single__next__prev {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .button__wrapper {
      justify-content: center!important;
    }
  }
}

@media screen and (min-width: 420px) {
  .single__wrapper {
    margin: 40px;
  }
}

@media screen and (min-width: 768px) {
  .single__wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 160px;
    width: 600px;
  }
}


@media screen and (min-width: 1280px) {
  .single__wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 240px;
  }
}