<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>
        {{- partial "header.html" . -}}
        <div class="homepage__content">
          <div class="homepage__hero">
            <h1>NoFap <span class="deluxe">Deluxe</span></h1><h2>The smartest way to end porn addiction.</h2>
          </div>

          <div class="homepage__section">
            <!-- <p>So, you're porn addict and you're looking for a comprehensive guide to help you with your journey?</p> -->
            <p>My name is Julius and I'm a recovered porn addict. <i class="em em-blush"></i></p>
            <ul>
              <li>I no longer watch porn.</li>
              <li>I no longer crave porn.</li>
              <li>I don't think about porn, at all. </li>
              <li>I no longer obsess over women in public.</li>
              <li>I no longer view women differently to men.</li>
              <!-- <li>I refrain from judging others, including myself. </li> -->
              <li>I have control over my mind and my thoughts. </li>
              <li>I'm conscious of my feelings and my emotions. </li>
              <li>I'm happy with myself and accept who I am.</li>
              <li>I'm comfortable with my emotions, both positive and negative. </li>
              <li>I don’t engage in self-harm.</li>
              <li>I'm motivated, confident and ambitious.</li>
              <li>I'm not afraid to be vulnerable.</li>
              <li>I'm committed to my mental health.</li>
            </ul>
          </div>

          <div class="homepage__hero">
            <h1>Here's what I do.</h1>
            <h2>I explain step-by-step exactly how to give up porn.</h2>
          </div>

          <div class="homepage__section">
            <h3>I explain how and why these steps work.</h3>
            <p>Because when you understand what to do.</p>
            <p>You do it.</p>
          </div>

          <div class="homepage__section">
            <h3>Latest posts.</h3>
            {{- partial "posts.html" . -}}
          </div>

          <div class="homepage__section">
            <h3>Below are some major warning signs that you're going about porn recovery the wrong way.</h3>
            <hr/>
          </div>


          <div class="homepage__hero">
            <h1>If you're not practicing meditation.</h1>
          </div>

          <div class="homepage__section">
            <h3>You're doing it wrong. <i class="em em-x"></i></h3>
            <hr/>
          </div>
          
          <div class="homepage__hero">
            <h1>If you're struggling to get further than two months.</h1>
          </div>
          <div class="homepage__section">
            <h3>You're doing it wrong. <i class="em em-x"></i></h3>
            <hr/>
          </div>

          <div class="homepage__hero">
            <h1>If you're uncomfortable with your emotions.</h1>
          </div>
          <div class="homepage__section">
            <h3>You get the drift. <i class="em em-anguished"></i></h3>
            <hr/>
          </div>

          <div class="homepage__section">
            <h3>Listen...</h3>
            <h1>I've spent most my life doing it wrong.</h1>
            <h2>So you don't have to. <i class="em em-innocent"></i></h2>
            <hr/>
            <p>Click on the link below to get started with your NoFap journey:</p>

            <div class="homepage__hero homepage__guide__wrapper">
              <a class="homepage__guide" href="/guide">NoFap Guide</a>
            </div>
          </div>

        </div>
        {{- partial "footer.html" . -}}
    </body>
</html>
<!-- 

<ul>
    <li>Learning to value my mental health above all. </li>
    <li>Developing the ability to quiet and focus my mind. </li>
    <li>Learning to love and accept myself and others unconditionally.</li>
    <li>Being confident and coming out about my addiction.</li>
    <li>Changing the way I think about sex and women.</li>
    <li>Understanding the value of commitment and long-term thinking. </li>
    <li>Identifying and understanding my various mental disorders. </li>
    <li>Properly understanding what life being 'porn free' actually means.</li>
    <li>Learning to value and invest in myself.</li>
  </ul> -->
