<!DOCTYPE html>
<html>
  {{ partial "head.html" . }}
  <body>
    <div class="homepage__content">
      <div class="homepage__hero">
    {{ partialCached "header.html" . }}

        <h1 class="homepage__hero__title">NeverFap <span class="deluxe__font">Deluxe</span></h1>
        <h2 class="homepage__hero__title__secondary">The Comprehensive NoFap Alternative.</h2>
      </div>

      <div class="homepage__section">
        <p>
          My name is Julius and I'm a recovered porn addict.
          <i class="em em-blush"></i>
        </p>
        <ul class="homepage__recovered__porn__addict__list">
          <li class="homepage__recovered__porn__addict__item">I no longer watch porn.</li>
          <li class="homepage__recovered__porn__addict__item">I no longer crave porn.</li>
          <li class="homepage__recovered__porn__addict__item">I don't think about porn, at all.</li>
          <li class="homepage__recovered__porn__addict__item">I no longer obsess over women in public.</li>
          <li class="homepage__recovered__porn__addict__item">I no longer view women differently to men.</li>
          <!-- <li class="homepage__recovered__porn__addict__item">I refrain from judging others, including myself. </li> -->
          <li class="homepage__recovered__porn__addict__item">I have control over my mind and my thoughts.</li>
          <li class="homepage__recovered__porn__addict__item">I'm conscious of my feelings and emotions.</li>
          <li class="homepage__recovered__porn__addict__item">I'm comfortable with my emotions, both positive and negative.</li>
          <li class="homepage__recovered__porn__addict__item">I'm happy with myself and accept who I am.</li>
          <li class="homepage__recovered__porn__addict__item">I don’t engage in self-harm.</li>
          <li class="homepage__recovered__porn__addict__item">I'm motivated, confident and ambitious.</li>
          <li class="homepage__recovered__porn__addict__item">I'm not afraid to be vulnerable.</li>
          <li class="homepage__recovered__porn__addict__item">I'm committed to my mental health.</li>
        </ul>
        <!-- <p>...so in a sense, this website has nothing to do with porn addiction at all.</p>
        <h3>Because becoming a better person has nothing to do with porn.</h3> -->
        <!-- <h2 style="margin-top: 4rem; margin-bottom: 2rem;">NeverFap teaches you to become those things.</h2> -->
      </div>

      <div class="homepage__hero">
        <h1 class="homepage__hero__title">Here's what I do.</h1>
        <h2 class="homepage__hero__title__secondary">I explain step-by-step exactly how to give up porn.</h2>
      </div>

      <div class="homepage__section">
        <h3>
          With the NeverFap Deluxe Guide, I explain
          exactly how and why these steps work.
        </h3>
        <p>
          Because once you intuitively understand how something works, you will
          <u>commit to it forever.</u> <i class="em em-v"></i>
        </p>
        <hr/>
        <h2>
          The Five Fundamental Principles of NeverFap make
          addressing your porn addiction a breeze:
        </h2>
        <ul class="five__principles__list__main">
          <span><li class="five__principles__item__main">Choice over mind</li></span>
          <span><li class="five__principles__item__main">Balance over reward</li></span>
          <span><li class="five__principles__item__main">Struggle over none</li></span>
          <span><li class="five__principles__item__main">Awareness over all</li></span>
          <span><li class="five__principles__item__main">Uncondition over judgement</li></span>
        </ul>
        <div class="button__wrapper">
          <a
            class="button"
            href="/guide/the-five-fundamental-principles-of-neverfap"
            >Learn More About The Five Principles.</a
          >
        </div>
      </div>

      {{/*  <div class="homepage__hero">
        <h1 class="homepage__hero__title">Here's how it works.</h1>
        <h2 class="homepage__hero__title__secondary">There is one simple rule to overcoming porn addiction.</h2>
      </div>

      <div class="homepage__section">
        <p>Practice is the only thing that matters.</p>
        <h3>This website comprises of many different fundamental practices to help you develop the core skills in order to address porn addiction.</h3>

        <ul class="five__principles__guide">
          <span class="five__principles__item__wrapper"><li class="five__principles__item">Learn to value your mental health above all.</li></span>
          <span class="five__principles__item__wrapper"><li class="five__principles__item">Develop the ability to quiet and focus your mind.</li></span>
          <span class="five__principles__item__wrapper"><li class="five__principles__item">Accept yourself and others unconditionally.</li></span>
          <span class="five__principles__item__wrapper"><li class="five__principles__item">Change the way you think about sex and women.</li></span>
          <span class="five__principles__item__wrapper"><li class="five__principles__item">Commit to long-term thinking.</li></span>
        </ul>
      </div>  */}}

      <div class="homepage__hero">
        <h1 class="homepage__hero__title">The NeverFap Deluxe Guide.</h1>
        <h2 class="homepage__hero__title__secondary">A series of articles to help explain the NeverFap method.</h2>
        </div>

      <div class="homepage__section">
        <h2>Here are some of our most popular posts to get you started:</h2>
        <div class="popular__latest__title">
          <h3 class="button__click" id="popular">Popular posts.</h3>
          <h3 class="button__click" id="latest">Latest posts.</h3>
        </div>
        <div id="popular__posts">
          {{ partial "popular_posts.html" . }}
        </div>
        <div id="latest__posts">
          {{ partial "latest_posts.html" . }}
        </div>
      </div>

      <div class="homepage__section">
        <h2>Warning! <i class="em em-warning"></i></h2>
        <h3>
          Chances are that you may have been going about porn recovery the wrong
          way.
        </h3>
        <hr />
      </div>

      <div class="homepage__hero">
        <h1 class="homepage__hero__title">If you believe you have limited control over your mind.</h1>
        <ul class="homepage__hero__principle__wrapper">
          <li class="homepage__hero__principle__item">Choice over mind</li>
        </ul>
      </div>

      <div class="homepage__section">
        <h3>You're doing it wrong. <i class="em em-x"></i></h3>
        <hr />
      </div>

      <div class="homepage__hero">
        <h1 class="homepage__hero__title">If you struggle to get further than two months.</h1>
        <ul class="homepage__hero__principle__wrapper">
          <li class="homepage__hero__principle__item">Balance over reward</li>
        </ul>
      </div>
      
      <div class="homepage__section">
        <h3>You're doing it wrong. <i class="em em-x"></i></h3>
        <hr />
      </div>

      <div class="homepage__hero">
        <h1 class="homepage__hero__title">If you constantly fight your emotions.</h1>
        <ul class="homepage__hero__principle__wrapper">
          <li class="homepage__hero__principle__item">Struggle over none</li>
        </ul>
      </div>

      <div class="homepage__section">
        <h3>You're doing it wrong. <i class="em em-x"></i></h3>
        <hr />
      </div>

      <div class="homepage__hero">
        <h1 class="homepage__hero__title">If you don't practice meditation.</h1>
        <ul class="homepage__hero__principle__wrapper">
          <li class="homepage__hero__principle__item">Awareness over all</li>
        </ul>
      </div>

      <div class="homepage__section">
        <h3>You're doing it wrong. <i class="em em-x"></i></h3>
        <hr />
      </div>

      <div class="homepage__hero">
        <h1 class="homepage__hero__title">If you are critical of yourself and others.</h1>
        <ul class="homepage__hero__principle__wrapper">
          <li class="homepage__hero__principle__item">Uncondition over judgement</li>
        </ul>
      </div>

      <div class="homepage__section">
        <h3>You get the drift. <i class="em em-anguished"></i></h3>
        <hr />
      </div>

      <div class="homepage__section">
        <h3>Listen...</h3>
        <h1>I've spent most my life doing it wrong.</h1>
        <h2>So you don't have to waste your time like I did. <i class="em em-innocent"></i></h2>
        <hr />
        <p>Click on the link below to get started with your NeverFap journey:</p>

        <div class="homepage__hero homepage__guide__wrapper">
          <a class="homepage__guide" href="/guide">NeverFap Deluxe Guide</a>
        </div>
      </div>

    </div>
    {{ partialCached "footer.html" . }}
  </body>
  <script src='/js/homepage.js'></script>
</html>
<!--
  <ul>
    <li>Learning to value my mental health above all. </li>
    <li>Developing the ability to quiet and focus my mind. </li>
    <li>Learning to love and accept myself and others unconditionally.</li>
    <li>Being confident and coming out about my addiction.</li>
    <li>Changing the way I think about sex and women.</li>
    <li>Understanding the value of commitment and long-term thinking. </li>
    <li>Identifying and understanding my various mental disorders. </li>
    <li>Properly understanding what life being 'porn free' actually means.</li>
    <li>Learning to value and invest in myself.</li>
  </ul> 
-->
