<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>
        {{- partial "header.html" . -}}
        <div class="homepage__content">
          <div class="homepage__hero">
            <h1>No Fap Deluxe</h1>
            <h2>The easiest way to give up pornography.</h2>
          </div>

          <div class="homepage__section">
            <p>So, you're pornography addict and you're looking for a comprehensive guide to overcome your pornography addiction? Well, you may very well have come to the right place.</p>
            <p>My name is Julius and I'm a recovered porn addict.</p>
            <ul>
              <li>I no longer watch porn.</li>
              <li>I no longer crave porn.</li>
              <li>Pornography isn’t something I think about, at all. </li>
              <li>I no longer stare at women in public.</li>
              <li>I view women no different to men.</li>
              <li>I no longer judge others, including myself. </li>
              <li>I have control over my mind and my thoughts. </li>
              <li>I'm conscious of my feelings and my emotions. </li>
              <li>I'm happy with myself and accept who I am.</li>
              <li>I'm comfortable with my emotions, both positive and negative. </li>
              <li>I don’t engage in self-harm.</li>
              <li>I'm motivated, confident and ambitious.</li>
              <li>I'm not afraid to be vulnerable.</li>
              <li>I'm committed to my mental health.</li>
            </ul>
            <p>In the space of approximately five years, through immense trial and error, I have managed overcome all the challenges associated with porn addiction, and I want to help you do that too.</p>
            <b>The truth is that giving up pornography can be dead simple.</b>
            <p>The problem is that very few people know how to do it, or they fight themselves on a daily basis in order to achieve it.</p>
            <p>With this website I hope to share how you can make overcoming pornography dead simple, and finally put this destructive habit to rest.</p>
          </div>
          
          <div class="homepage__section">
            <h2>Free Comprehensive Guide</h2>
            <p>To accompany this website, I have written a comprehensive online guide detailing the fundamental skills required for you to effortlessly overcome your porn addiction.</p>
            <p>Here are just a few of the skills you will learn:</p>
            <ul>
              <li>Learn to value your mental health above all. </li>
              <li>Develop the ability to quiet and focus your mind. </li>
              <li>Learn to love and accept myself and others unconditionally.</li>
              <li>Change the way you think about sex and women.</li>
              <li>Understand the value of commitment and long-term thinking. </li>
            </ul>

            <p>Each chapter within the guide aims to address each one of these skills, beginning with my initial misunderstanding, the eventual conclusion and reasoning behind developing these skills, as well as how you can develop these skills yourself.</p>

            <a href="/guide">Comprehensive Guide</a>

            <p></p>
          </div>
        </div>
        {{- partial "footer.html" . -}}
    </body>
</html>
<!-- 

<ul>
    <li>Learning to value my mental health above all. </li>
    <li>Developing the ability to quiet and focus my mind. </li>
    <li>Learning to love and accept myself and others unconditionally.</li>
    <li>Being confident and coming out about my addiction.</li>
    <li>Changing the way I think about sex and women.</li>
    <li>Understanding the value of commitment and long-term thinking. </li>
    <li>Identifying and understanding my various mental disorders. </li>
    <li>Properly understanding what life being 'porn free' actually means.</li>
    <li>Learning to value and invest in myself.</li>
  </ul> -->
