{{ define "main" }}
  <!-- <div class="homepage__hero homepage__guide__wrapper">
    <h1 class="homepage__hero__title">{{ .Title }}</h1>
  </div> -->
  <div class="single__wrapper">   
    <h2 class="single__title">{{ .Title }} <img src="/images/logo.png" class="logo__square" alt=""/></h2>
    <div class="single__content">
      <p>Thank you for choosing to take a deeper look into the NeverFap method of overcoming porn addiction.</p>
      <p>Coming to the realisation that you're a porn addict, as well as making the decision to overcome your porn addiction is arguably one of the most profound things you can ever do.</p>
      <p>It will completely change the way you feel, think and perceive yourself and others.</p>
    </div>
  </div>

  {{ partial "accountInfo.html" . }}

  <div class="single__wrapper">   
    <div class="single__content">
      <p></p>
      <p>These courses have been structured around the written content on this website, in order to provide you with the most efficient way forward with your porn recovery.</p>
      <p>Much like the written content, these courses have been designed around The Five Fundamental Principles Of NeverFap. In addition, they will also be available in audio format.</p>
      <p>These structured courses are the recommended approach towards consuming the information on this website, as opposed to merely scouring the website for information.</p>
    </div>
  </div>
  


  <div class="single__wrapper">   
    <div class="single__content">

      <div class="five__principles__list__page">
        <span><li class="five__principles__item__page">Choice over mind</li></span>
      </div>

      <p>This course focuses on understanding how and why you have full control over your mind.</p>
      <p>Episodes:</p>
      <ul>
        <li>Stand it still</li>
        <li></li>
      </ul> 

      <div class="five__principles__list__page">
        <span><li class="five__principles__item__page">Balance over reward</li></span>
      </div>
      <p>This course focuses on developing the ability to prioritise healthily.</p>
        

      <div class="five__principles__list__page">
        <span><li class="five__principles__item__page">Struggle over none</li></span>
      </div>

      <p>This course focuses on developing a healthy attitude towards NeverFap and porn recovery.</p>

        
      <div class="five__principles__list__page">
        <span><li class="five__principles__item__page">Awareness over all</li></span>
      </div>

      <p>This course focuses on building your awareness and meditation skills.</p>

        
      <div class="five__principles__list__page">
        <span><li class="five__principles__item__page">Uncondition over judgement</li></span>
      </div>

      <p>This course focuses on separating and dissolving our thoughts, feelings and emotions.</p>
    </div>
  </div>


  <div class="single__wrapper">   
    <div class="single__content">
      <p></p>
      <p>In addition to the written content on this website, we also offer structured audio courses which have been designed to provide you with a linear pathway towards developing the skills to address your porn addiction.</p>
      <p>Much like the written content, these courses have been designed around The Five Fundamental Principles Of NeverFap, in order to help you learn new skills in the most efficient way possible.</p>
      <p>In order to sign up for the courses, you first need to <a class="link" href="https://community.neverfapdeluxe.com/">create an account</a> on our NeverFap Deluxe Community website.</p>
      <p>Pricing is available on the NeverFap Deluxe Community Website.</p>
    </div>
  </div>
{{ end }}
