{{ define "main" }}
  <!-- <div class="homepage__hero homepage__guide__wrapper">
    <h1 class="homepage__hero__title">{{ .Title }}</h1>
  </div> -->
  <div class="single__wrapper">   
    <h2 class="single__title">{{ .Title }} <img src="/images/logo.png" class="logo__square" alt=""/></h2>
    <div class="single__content">
      <p>Thank you for choosing to take a deeper look into the NeverFap method of overcoming porn addiction.</p>
      <p>Coming to the realisation that you're a porn addict, as well as making the decision to overcome your porn addiction is arguably one of the most profound things you can ever do.</p>
      <p>It will completely change the way you feel, think and perceive yourself and others.</p>
    </div>
  </div>

  {{ partial "accountInfo.html" . }}

  <div class="single__wrapper">   
    <div class="single__content" style="margin-bottom: 0;">
      <p>These courses have been structured around the written content on this website, in order to provide you with the most efficient way forward with your porn recovery.</p>
      <p>Much like the written content, these courses have been designed around The Five Fundamental Principles Of NeverFap. In addition, they will also be available in audio format.</p>
      <p>These structured courses are the recommended approach towards consuming the information on this website, as opposed to merely scouring the website for information.</p>
    </div>
  </div>


  <div class="single__wrapper">   

    {{/*  Choice over mind  */}}
    <div class="homepage__process single__homepage__process">
      <span><h3 class="homepage__process__title--courses">
        <div class="five__principles__list__page">
          <span><li class="five__principles__item__page five__principles__item__page--courses">Choice over mind</li></span>
        </div>
      </h3></span>

      <div class="homepage__process__text homepage__process__text--practice">
        <b>What you will learn</b>
        <p>A complete understanding of self-control.</p>
      </div>
      <div class="homepage__process__text homepage__process__text--practice">
        <b>Content</b>
        <p>{{ len .Site.RegularPages }}</p>
      </div>
      <div class="homepage__process__text homepage__process__text--practice"><b>When</b><p>{{ .Params.When }}</p></div>
      <div class="homepage__process__text homepage__process__text--practice"><b>Duration</b><p>{{ .Params.Duration }}</p></div>
    </div>
    <span><span class="homepage__process__link">To Course</span></span>  


    {{/*  Balance over reward  */}}
    <div class="homepage__process single__homepage__process">    
      <span><h3 class="homepage__process__title--courses">
        <div class="five__principles__list__page">
          <span><li class="five__principles__item__page five__principles__item__page--courses">Balance over reward</li></span>
        </div>
      </h3></span>

      <div class="homepage__process__text homepage__process__text--practice">
        <b>What you will learn</b>
        <p>A renewed commitment to your mental health and porn recovery.</p>
      </div>
      <div class="homepage__process__text homepage__process__text--practice">
        <b>Content</b>
        <p>{{ len .Site.RegularPages }}</p>
      </div>
      <div class="homepage__process__text homepage__process__text--practice"><b>When</b><p>{{ .Params.When }}</p></div>
      <div class="homepage__process__text homepage__process__text--practice"><b>Duration</b><p>{{ .Params.Duration }}</p></div>
    </div>
    <span><span class="homepage__process__link">To Course</span></span>  
  

    {{/*  Awareness over all  */}}
    <div class="homepage__process single__homepage__process">    
      <span><h3 class="homepage__process__title--courses">
        <div class="five__principles__list__page">
          <span><li class="five__principles__item__page five__principles__item__page--courses">Awareness over all</li></span>
        </div>
      </h3></span>

      <div class="homepage__process__text homepage__process__text--practice">
        <b>What you will learn</b>
        <p>Fundamental awareness and observation skills.</p>
      </div>
      <div class="homepage__process__text homepage__process__text--practice">
        <b>Content</b>
        <p></p>
      </div>
      <div class="homepage__process__text homepage__process__text--practice"><b>When</b><p>{{ .Params.When }}</p></div>
      <div class="homepage__process__text homepage__process__text--practice"><b>Duration</b><p>{{ .Params.Duration }}</p></div>
    </div>
    <span><span class="homepage__process__link">To Course</span></span>  
  
  
    {{/*  Struggle over none  */}}
    <div class="homepage__process single__homepage__process">    
      <span><h3 class="homepage__process__title--courses">
        <div class="five__principles__list__page">
          <span><li class="five__principles__item__page five__principles__item__page--courses">Struggle over none</li></span>
        </div>
      </h3></span>

      <div class="homepage__process__text homepage__process__text--practice">
        <b>What you will learn</b>
        <p>.</p>
      </div>
      <div class="homepage__process__text homepage__process__text--practice">
        <b>Content</b>
        <p>{{ len .Site.RegularPages }}</p></div>
      <div class="homepage__process__text homepage__process__text--practice"><b>When</b><p>{{ .Params.When }}</p></div>
      <div class="homepage__process__text homepage__process__text--practice"><b>Duration</b><p>{{ .Params.Duration }}</p></div>
    </div>
    <span><span class="homepage__process__link">To Course</span></span>  
  
  
    {{/*  Awareness over all  */}}
    <div class="homepage__process single__homepage__process">    
      <span><h3 class="homepage__process__title--courses">
        <div class="five__principles__list__page">
          <span><li class="five__principles__item__page five__principles__item__page--courses">Awareness over all</li></span>
        </div>
      </h3></span>

      <div class="homepage__process__text homepage__process__text--practice">
        <b>What you will learn</b>
        <p>How to embrace calm and learn not to fight ourselves mentally.</p>
      </div>
      <div class="homepage__process__text homepage__process__text--practice">
        <b>Content</b>
        <p>{{ len .Site.RegularPages }}</p>
      </div>
      <div class="homepage__process__text homepage__process__text--practice"><b>When</b><p>{{ .Params.When }}</p></div>
      <div class="homepage__process__text homepage__process__text--practice"><b>Duration</b><p>{{ .Params.Duration }}</p></div>
    </div>
    <span><span class="homepage__process__link">To Course</span></span>  
  
  
    {{/*  Uncondition over judgement  */}}
    <div class="homepage__process single__homepage__process">    
      <span><h3 class="homepage__process__title--courses">
        <div class="five__principles__list__page">
          <span><li class="five__principles__item__page five__principles__item__page--courses">Uncondition over judgement</li></span>
        </div>
      </h3></span>

      <div class="homepage__process__text homepage__process__text--practice">
        <b>What you will learn</b>
        <p>How to detach ourselves from our feelings and not take them personally.</p>
      </div>
      <div class="homepage__process__text homepage__process__text--practice">
        <b>Content</b>
        <p>{{ len .Site.RegularPages }}</p>
      </div>
      <div class="homepage__process__text homepage__process__text--practice"><b>When</b><p>{{ .Params.When }}</p></div>
      <div class="homepage__process__text homepage__process__text--practice"><b>Duration</b><p>{{ .Params.Duration }}</p></div>
    </div>
    <span><span class="homepage__process__link">To Course</span></span>  
  </div>


  <div class="single__wrapper">   
    <div class="single__content">
      <h2>Audio content.</h2>
      <p>In addition to the written content on this website, we also offer structured audio courses which have been designed to provide you with a linear pathway towards developing the skills to address your porn addiction.</p>
      <p>Much like the written content, these courses have been designed around The Five Fundamental Principles Of NeverFap, in order to help you learn new skills in the most efficient way possible.</p>
      <p>In order to sign up for the courses, you first need to <a class="link" href="https://community.neverfapdeluxe.com/">create an account</a> on our NeverFap Deluxe Community website.</p>
      <p>Pricing is available on the NeverFap Deluxe Community Website.</p>
    </div>
  </div>
{{ end }}
