{{ define "main" }}
  <!-- <div class="homepage__hero homepage__guide__wrapper">
    <h1 class="homepage__hero__title">{{ .Title }}</h1>
  </div> -->
  <div class="single__wrapper">   
    <h2 class="single__title">{{ .Title }} <img src="/images/logo.png" class="logo__square" alt=""/></h2>
    <div class="single__content">
      {{ .Content }}
    </div>

    <ul class="five__principles__list__page">
      <span><li class="five__principles__item__page">Choice over mind</li></span>
    </ul>

    <p>This course focuses on understanding how and why you have full control over your mind.</p>
    <p>Episodes:</p>
    <ul>
      <li>Stand it still</li>
      <li></li>
    </ul> 

    <ul class="five__principles__list__page">
      <span><li class="five__principles__item__page">Balance over reward</li></span>
    </ul>
    <p>This course focuses on developing the ability to prioritise healthily.</p>
      

    <ul class="five__principles__list__page">
      <span><li class="five__principles__item__page">Struggle over none</li></span>
    </ul>

    <p>This course focuses on developing a healthy attitude towards NeverFap and porn recovery.</p>

      
    <ul class="five__principles__list__page">
      <span><li class="five__principles__item__page">Awareness over all</li></span>
    </ul>

    <p>This course focuses on building your awareness and meditation skills.</p>

      
    <ul class="five__principles__list__page">
      <span><li class="five__principles__item__page">Uncondition over judgement</li></span>
    </ul>

    <p>This course focuses on separating and dissolving our thoughts, feelings and emotions.</p>

  </div>
{{ end }}
