{{ define "main" }}
  <main class="single__wrapper">
    <div class="single__content">
      <h2>Welcome to the NeverFap Deluxe Guide!</h2>
      
      <p>Thank you for choosing to take a deeper look into the NeverFap method of overcoming porn addiction.</p>
      <p>Coming to the realisation that you're a porn addict, as well as making the decision to overcome your porn addiction is arguably one of the most profound things you can ever do.</p>
      <p>It will completely change the way you feel, think and perceive yourself and others.</p>
      <p>To begin here are just a few of the skills you will learn from our guide:</p>
      
      <ul class="five__principles__guide">
        <span class="five__principles__item__wrapper"><li class="five__principles__item">Learn to value your mental health above all.</li></span>
        <span class="five__principles__item__wrapper"><li class="five__principles__item">Develop the ability to quiet and focus your mind.</li></span>
        <span class="five__principles__item__wrapper"><li class="five__principles__item">Accept yourself and others unconditionally.</li></span>
        <span class="five__principles__item__wrapper"><li class="five__principles__item">Change the way you think about sex and women.</li></span>
        <span class="five__principles__item__wrapper"><li class="five__principles__item">Commit to long-term thinking.</li></span>
      </ul>
      <ul class="five__principles__guide--mobile">
        <h3>Learn to value your mental health above all.</h3>
        <h3>Develop the ability to quiet and focus your mind.</h3>
        <h3>Accept yourself and others unconditionally.</h3>
        <h3>Change the way you think about sex and women.</h3>
        <h3>Commit to long-term thinking.</h3>
      </ul>
      
      <h2>Getting Started</h2>
      <p>Before you begin, I highly recommend becoming familiar with The Five Fundamental Principles of NeverFap.</p>
      <p>These principles will form the basis of everything you will learn, and each article will focus on a particular principle.</p>

      <div class="button__wrapper">
        <a
          class="button" 
          href="/guide/the-five-fundamental-principles-of-neverfap"
          >Learn more about the five principles.</a
        >
      </div>
  
      <!-- <h2>Article Types</h2> -->
      <p>Articles are organised into two types.</p>
      <p>There are contextual articles, which are designed to provide you with perspective and knowlege in order for you to gain a better understand of yourself.</p>
      <p>In addition there are practice articles, which focus solely on verifiable steps you can take on a daily basis to help you progress towards learning the skills to end porn addiction.</p>
      <p>You know, you can't become an amazing pianist or the world's best guitarist by staring at sheet music all day, and the same goes for overcoming porn addiction.</p>
      <p>Without training your mind and learning new skills through targeted exercises, you can only hope to succumb yourself to the excesses of trial and error.</p>
      
      <h2>Article List</h2>
      <p>Once you're ready, and after you've read <a class="link" href="/guide/the-five-fundamental-principles-of-neverfap">The Five Fundamental Principles of NeverFap</a>, feel free to explore the range of guides available on the website.</p>

      <div class="popular__latest__title">
        <h3 class="popular__latest__title--guide" id="introduction_click">Introduction</h3>
        <h3 class="popular__latest__title--guide" id="choice_over_mind_click">Choice over mind</h3>
        <h3 class="popular__latest__title--guide" id="balance_over_reward_click">Balance over reward</h3>
        <h3 class="popular__latest__title--guide" id="struggle_over_none_click">Struggle over none</h3>
        <h3 class="popular__latest__title--guide" id="awareness_over_all_click">Awareness over all</h3>
        <h3 class="popular__latest__title--guide" id="uncondition_over_judgement_click">Uncondition over judgement</h3>
      </div>
     
      <div class="posts--guide" id="introduction_posts">
        {{ partial "category_posts.html" (dict "page" . "post_category" "introduction") }}
      </div>

      <div class="posts--guide" id="choice_over_mind_posts">
        {{ partial "category_posts.html" (dict "page" . "post_category" "choice-over-mind") }}
      </div>

      <div class="posts--guide" id="balance_over_reward_posts">
        {{ partial "category_posts.html" (dict "page" . "post_category" "balance-over-reward") }}
      </div>

      <div class="posts--guide" id="strugle_over_none_posts">
        {{ partial "category_posts.html" (dict "page" . "post_category" "struggle-over-none") }}
      </div>

      <div class="posts--guide" id="awareness_over_all_posts">
        {{ partial "category_posts.html" (dict "page" . "post_category" "awareness-over-all") }}
      </div>

      <div class="posts--guide" id="uncondition_over_judgement_posts">
        {{ partial "category_posts.html" (dict "page" . "post_category" "unconditional-over-judgement") }}
      </div>
    </div>
  </main>
  <script src='/js/guide.js'></script>

{{ end }}
