{{ define "main" }}
  <main class="single__wrapper">   
    
    <h2 class="single__title">{{ .Title }} <img src="/images/logo.png" class="logo__square" alt=""/></h2>

    <div class="single__content">
      <p>A complete list of all of the mental health practices here on NeverFap Deluxe. Yipee!</p>
      <p>Instead, if you were searching for a complete list of all our contextual articles on the website, please check out the impeccably arranged <a class="link" href="/articles">NeverFap Deluxe Articles</a> page.</p>
      <p>You may sort practices by latest or category.</p>
    </div>
  
    <h3 class="popular__latest__options__title">Sort</h3>
    <div class="popular__latest__options">
      <h3 class="button__click popular__latest__options--guide" id="practices_latest_click">Latest</h3>
      <h3 class="button__click popular__latest__options--guide" id="practices_category_click">Category</h3>
    </div>
    
    <div class="posts--guide" id="practices_latest_posts">
      {{ partial "articles_latest.html" (dict "page" . "tag_type" "practice") }}
    </div>

    <div class="posts--guide" id="practices_category_posts">
      {{ partial "articles_category.html" (dict "page" . "tag_type" "practice") }}
    </div>
  </main>
  <script src='/js/practices.js'></script>
{{ end }}