{{ define "main" }}
  <main class="single__wrapper">   
    
    <h2 class="single__title">{{ .Title }}</h2>

    <div class="popular__latest__title">
      <h3 class="button__click popular__latest__title--guide" id="practices_latest_click">By Latest</h3>
      <h3 class="button__click popular__latest__title--guide" id="practices_category_click">By Category</h3>
    </div>
    
    <div class="posts--guide" id="practices_latest_posts">
      {{ partial "articles_latest.html" (dict "page" . "tag_type" "practice") }}
    </div>

    <div class="posts--guide" id="practices_category_posts">
      {{ partial "articles_category.html" (dict "page" . "tag_type" "practice") }}
    </div>
  </main>
  <script src='/js/articles.js'></script>
{{ end }}